.playerContainer {
  background-color: antiquewhite;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.dashboard {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-items: center;
}
.imageContainer {
  margin-top: 25%;
  border-radius: 50%;
  width: fit-content;
  overflow: hidden;
}
.desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.header {
  font-weight: bold;
}
.goBack {
  background-color: #f47560;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.player-info p {
  width: 100%;
  text-align: center;
  margin: 0;
}
.gridContainer {
  height: fit-content;
  width: 80vw;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: calc((100vh / 5) - 20px);
  gap: 20px;
}

.card {
  border: 2px solid red;
  position: relative;
}
.shareButton {
  position: absolute;
  top: 5px;
  right: 5px;
}
.span8 {
  grid-column: span 7;
  grid-row: span 3;
}

.span6 {
  grid-column: span 6;
  grid-row: span 2;
}

.span4 {
  grid-column: span 5;
  grid-row: span 3;
}

@media screen and (max-width: 768px) {
  .dashboard {
    width: 100%;
  }
  .playerContainer {
    flex-direction: column;
  }
  .imageContainer {
    margin-top: 5%;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100vw;
    width: 100%;
  }

  .span8,
  .span6,
  .span4 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
