.playerContainer {
  background-color: antiquewhite;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.dashboard {
  width: 20vw;
}
.gridContainer {
  height: fit-content;
  width: 80vw;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: calc((100vh / 5) - 20px);
  gap: 20px;
}

.card {
  border: 2px solid red;
  position: relative;
}
.shareButton {
  position: absolute;
  top: 5px;
  right: 5px;
}
.span8 {
  grid-column: span 7;
  grid-row: span 3;
}

.span6 {
  grid-column: span 6;
  grid-row: span 2;
}

.span4 {
  grid-column: span 5;
  grid-row: span 3;
}

@media screen and (max-width: 768px) {
  .playerContainer {
    flex-direction: column;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100vw;
    width: 100%;
  }

  .span8,
  .span6,
  .span4 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
